:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-button: #4d5ae5;
  --background-button: #404bbf;
  --portfolio-button-color: #ffffff;
  --html-button-color: #ffffff;
  --logo-color: #f4f4fd;
  --five-section-icon: #8e8f99;
  --footer-icon-color: #31d0aa;
  --transition-duration-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--portfolio-button-color);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==========COMPONENTS ========*/
.padding-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  text-align: left;
}

.main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.main-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
/* =========logo============ */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-button);
  margin-right: 76px;
}
.logo-part-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part-two-dark {
  color: var(--logo-color);
}
.logo-part-two-light {
  color: var(--primary-text-color);
}
.logo-footer {
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}
/* =========/logo============ */

/* ==========/COMPONENTS ========*/
/* ==========header========= */
.page-header-container {
  display: flex;
  align-items: center;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  max-width: 1440px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.page-nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.main-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 24px 0;
  transition: color var(--transition-duration-funk);
  position: relative;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--background-button);
}
.menu-link.current::after {
  content: '';
  background: #404bbf;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2px;
}
.menu-link.current {
  color: #404bbf;
}
/* =========contakts=========== */
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-duration-funk);
}
.contacts:hover,
.contacts:focus {
  color: var(--background-button);
}

/* =========/contakts=========== */

/* ==============/header========== */
/* ==============hero============= */
.hero-section {
  background: var(--primary-text-color);
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--html-button-color);
  margin-bottom: 46px;
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
hero-section-container {
  text-align: center;
}

/* ========button============= */
.modal-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  color: var(--html-button-color);
  background-color: var(--primary-button);
  border: none;
  min-width: 169px;
  transition: background-color var(--transition-duration-funk);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--background-button);
}

/* ========/button============= */

/* ==========/hero====================== */
/* ==============second-section========== */
.main-section-item-2 {
  width: calc((100% - 48px) / 3);
}
.icons-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.icon {
  padding-right: 100px;
}

/* ==============/second-section========== */
/* ============third-section============= */
.padding-section-three {
  padding-bottom: 120px;
}

/* ============/third-section============= */
/* ======foutth section======== */
.fourth-section {
  background-color: var(--logo-color);
}

.main-section-list {
  display: flex;
  gap: 24px;
}
.section-wrapper {
  padding: 32px 0px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.section-title-fourth {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  text-align: center;
}
.main-description-fourth {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.main-section-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
}

.section-title {
  text-align: left;
}
.main-description {
  text-align: left;
}
.icon-section-four {
  padding: 32px 0;
}
.icon-style-four {
  fill: var(--logo-color);
}
.icon-section-four-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-duration-funk);
}
.icon-section-four-list-item:hover,
.icon-section-four-list-item:focus {
  background-color: #404bbf;
}

.icon-section-four-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.four-section-item {
  width: 40px;
  height: 40px;
}

/* ======/foutth section======== */
/* five-section========= */
.five-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.five-section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--primary-text-color);
  margin-bottom: 72px;
  text-align: center;
}
.five-section-list {
  display: flex;
  gap: 24px;
}
.five-section-list-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.five-section-item {
  width: 100%;
  height: 100%;
  border: 1px solid var(--five-section-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--five-section-icon);
  transition: color var(--transition-duration-funk),
    border-color var(--transition-duration-funk);
}
.five-section-item:hover {
  color: var(--background-button);
  border-color: var(--background-button);
}
.five-section-item:focus {
  color: var(--background-button);
  border-color: var(--background-button);
}
.five-section-icons {
  fill: currentColor;
}
/* five-section========= */
/* =======footer====== */
.footer {
  background: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-right-side {
  margin-right: auto;
}
.footer-left-side {
  margin-right: 120px;
}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--html-button-color);
}

.fotter-section-list {
  display: flex;
  gap: 16px;
}
.contact-form {
  display: flex;
  gap: 24px;
}
.footer-button {
  min-width: 165px;
  min-height: 40px;
  background-color: var(--primary-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--html-button-color);
  text-align: left;

  transition: var(--transition-duration-funk);
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-label {
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--background-button);
}
.footer-text {
  margin-bottom: 16px;
}
.contact-form-input {
  background-color: transparent;
  width: 264px;
  height: 40px;
  border: 1px solid var(--html-button-color);
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04;
}
.footer-svg {
  fill: #f4f4fd;
}
.footer-button-icon {
  fill: var(--html-button-color);
}

.main-footer-button-container {
}

.five-section-icon {
  width: 100%;
  height: 100%;
  background-color: var(--primary-button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color var(--transition-duration-funk);
}
.five-section-icon:hover {
  background-color: var(--footer-icon-color);
}
.five-section-icon:focus {
  background-color: var(--footer-icon-color);
}

/* =======footer====== */
/* portfolio-section */

.portfolio-link {
  display: block;
  position: relative;
  transition: box-shadow var(--transition-duration-funk);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-section-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  row-gap: 48px;
}
.portfolio-section-list-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section-item-one {
  width: calc(100%-4 * 24) / 5;
}
.portfolio-section-item {
  width: calc((100% - 48px) / 3);
}
.first-portfolio-section {
  padding: 96px 0 120px;
}
.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  color: var(--primary-button);
  background-color: var(--logo-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: border var(--transition-duration-funk),
    background-color var(--transition-duration-funk),
    color var(--transition-duration-funk),
    box-shadow var(--transition-duration-funk);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--portfolio-button-color);
  background-color: var(--background-button);
  border: 1px solid transparent;
}

.portfolio-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* =======footer====== */
/* =======overlay======= */
.overlay {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
  color: var(--logo-color);
}
.wrapper-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: var(--primary-button);
  overflow-y: scroll;
  padding: 40px 32px;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-funk);
}
.portfolio-link:hover .overlay-container,
.portfolio-link:focus .overlay-container {
  transform: translate(0, 0);
}

/* =======overlay======= */
/* ========MODAL-WINDOW====== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity var(--transition-duration-funk),
    visibility var(--transition-duration-funk);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-window {
  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: #fcfcfc;
  opacity: 1;
  transition: transform var(--transition-duration-funk);
}
.modal-close-btn-icon {
  transition: fill var(--transition-duration-funk);
}
.modal-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-contact-label-margin {
  margin-bottom: 8px;
  display: block;
}
.modal-contact-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
}
.modal-name-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  display: flex;

  padding-left: 39px;
  margin-bottom: 8px;
  transition: border-color var(--transition-duration-funk);
}
.modal-name-input:focus {
  border-color: var(--primary-button);
}
.modal-name-input:focus + .modal-icon-person {
  fill: var(--primary-button);
}
.contact-form-massage {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.contact-form-massage:focus {
  border-color: var(--primary-button);
}

.modal-icon-person {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  fill: #2e2f42;
  display: block;
  transition: transform var(--transition-duration-funk);
}
.contact-form-massage {
  width: 100%;
  height: 120px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);

  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}
.modal-field {
  margin-bottom: 24px;
}
.input-check-link {
  color: #4d5ae5;
}
.textaria-wrap {
  margin-bottom: 16px;
}
.modal-name-container {
  position: relative;
  margin-bottom: 8px;
}
.modal-contact-form {
}
.check-empty {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.input-check:checked + .check-text > .check-empty {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.input-check:checked + .check-text > .check-empty {
  border-color: #404bbf;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  transition: background-color var(--transition-duration-funk),
    border var(--transition-duration-funk);
}
.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
  fill: var(--html-button-color);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-button-submit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  color: var(--html-button-color);
  background-color: var(--primary-button);
  border: none;
  min-width: 169px;
  transition: background-color var(--transition-duration-funk);
}
.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: var(--background-button);
}

/* ========/MODAL-WINDOW====== */
